.Pic {
    background-image: url('./Pics/fyiBack.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-top: 60px;
    display: flex;
}

#picQuote {
    font-size: 30px;
    color: white;
    margin: 200px 0px 0px 120px;
    font-weight: 100%;
    text-shadow: 2px 4px 5px black;
}

#hBoxQ {
    margin-top: -300px;
    margin-left: 750px;
    border: 1px solid red;
    width: 650px;
    padding: 20px;
    display: flex;
    box-shadow: 12px 12px 1px tomato;
}

#hQuestion {
    color: black;
    font-size: 40px;
    font-weight: 8;
    display: flex;
}

#hBtn {
    margin-left: 1060px;
    margin-top: 30px;
    display: block;
    border: none;
    border-radius: 100px;
    height: 40px;
    width: 123px;
    font-size: 20px;
}