#bookBack {
    background-color: lightblue;
    margin-top: 40px;
    height: 800px;
}

#bookField {
    background-color: #404040;
    height: 400px;
    width: 500px;
    margin: 200px 0px 0px 500px;
    box-shadow: 8px 6px 15px 6px gray;
}

.bookAll {
    border: none;
    background-color: #686868;
    margin-top: 20px;
    height: 40px;
    width: 500px;
    text-indent: 10px;
    
}

input {
    border: none;
    background-color: #686868;
    margin-top: 20px;
    height: 40px;
    width: 500px;
    text-indent: 10px;
}

#bookComments {
    border: none;
    background-color: #686868;
    min-height: 150px;
    width: 500px;
    margin-right: 10px;
    margin-top: 20px;
    vertical-align: top;
    line-height: -20px
}

.flexbox {
    display: flex;
    align-items: start;
}

#bookPhone {
    width: 340px;
}

#bookDate {
    width: 149px;
    margin-left: 10px;
    margin-right: -20px;
}

#bookButton {
    margin: 15px 0px 0px 230px;
}

#compTop {
    margin-top: -800px;
}

