#abt {
    border: 1px solid #d80000;
    background-color: #d80000;
    width: 120px;
    margin-left: 210px;
}

#about {
    margin-top: -12px;
    margin-left: 150px;
    border: 1px solid gray;
    height: 500px;
    width: 600px;
    margin-bottom: 100px;
}

#title {
    font-size: 30px;
    font-weight: 100px;
    margin-left: 20px;
    text-indent: 20px;
}

#description {
    font-size: 18px;
    font-weight: 100;
    margin-top: 30px;
}

#abtPic {
    background-image: url('../Styles/Pics/AbtHome.jpg');
    background-repeat: no-repeat;
    width: 380px;
    height: 600px;
    margin-left: 790px;
    margin-top: -550px;
    box-shadow: 15px 15px 2px 1px #d80000;
}

#findOutMore {
    border: none;
    border-radius: 100px;
    font-size: 16px;
    height: 35px;
    width: 160px;
    margin-top: 290px;
    margin-left: 200px;
    text-decoration: none;
}