.Pic {
    background-image: url('./Pics/FYIBanner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-top: 60px;
    display: flex;
}

#picQuote1 {
    color: white;
    font-weight: 100%;
    text-shadow: 2px 4px 5px black;
}

#picQuote2 {
    font-size: 50px;
    color: white;
    margin-top: 220px;
    margin-left: -1000px;
    font-weight: 100%;
    text-shadow: 2px 4px 5px black;
    animation: textLoad2 1.5s forwards;
    animation-delay: 1s;
}


#picQuote3 {
    font-size: 50px;
    color: white;
    margin-top: 290px;
    margin-left: -1000px;
    font-weight: 100%;
    text-shadow: 2px 4px 5px black;
    animation: textLoad3 1.5s forwards;
    animation-delay: 2s;
}

 #hBoxQ {
    margin-top: -300px;
    margin-left: 670px;
    border: 1px solid red;
    width: 750px;
    padding: 20px;
    display: flex;
    box-shadow: 12px 12px 1px tomato;
}


@media only screen and (max-width: 1600px) {

    #picQuote1 {
    font-size: 50px;
    margin-top: 150px;
    animation: textLoad 1.5s forwards;
    }
    @keyframes textLoad {
        0% {
            margin-left: -200px;
            opacity: .1;
        }
        100% {
            margin-left: 300px;
            opacity: 1;
        }
    }
    
    @keyframes textLoad2 {
        0% {
            opacity: .1;
        }
        100% {
            margin-left: -338px;
            opacity: 1;
        }
    }
    
    @keyframes textLoad3 {
        0% {
            opacity: .1;
        }
        100% {
            margin-left: -320px;
            opacity: 1;
        }
    }
}


#hQuestion {
    color: black;
    font-size: 40px;
    font-weight: 8;
    display: flex;
}

@media only screen and (max-width: 1440px) {
    .Pic {
        background-size: relative;
        width: 463px;
        background-size: contain;
    }
    #picQuote1 {
        font-size: 15px;
        margin-top: 30px;
        animation: textLoad 1.5s forwards;
    }

    #picQuote2 {
        font-size: 15px;
        margin-top: 60px;
        animation: textLoad2 1.5s forwards;
        animation-delay: 1s
    }

    #picQuote3 {
        font-size: 15px;
        margin-top: 90px;
        animation: textLoad3 1.5s forwards;
        animation-delay: 2s;
    }

    @keyframes textLoad {
        0% {
            margin-left: -80px;
            opacity: .1;
        }
        100% {
            margin-left: 100px;
            opacity: 1;
        }
    }
    @keyframes textLoad2 {
        0% {
            margin-left: -400px;
            opacity: .1;
        }
        100% {
            margin-left: -102px;
            opacity: 1;
        }
    }

    @keyframes textLoad3 {
        0% {
            margin-left: -400px;
            opacity: .1;
        }
        100% {
            margin-left: -97px;
            opacity: 1;
        }
    }
}


#hBtn {
    margin-left: 1020px;
    margin-top: 30px;
    display: block;
    border: none;
    border-radius: 100px;
    height: 40px;
    width: 123px;
    font-size: 20px;
}
